* {
  font-family: "Skyscanner Relative", -apple-system, BlinkMacSystemFont,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.main {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 6%;
  background-image: url("../../img/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
main h2 {
  margin-left: 4%;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 4px black;
}
.buscador_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  padding: 1%;
  min-height: 35vh;
  max-width: 90vw;
  background-color: var(--blue_hover);
  background-image: linear-gradient(
    to bottom right,
    var(--blue_hover),
    #05488f
  );
  border-radius: 10px;
}

/* IDA VUELTA DIV INICIO  **************************************************/
.idavuelta_div {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;
}
.goRet_box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.myLabel {
  margin: 20px 0;
  margin-right: 1%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2%;
  white-space: nowrap;
}

/* IDA Y VUELTA SOLO IDA MULTIPLES DESTINOS   FINNNNN  *************** */

.ruta_fecha_div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
}

.input_label_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
  white-space: nowrap;
}

.ruta_inputs {
  padding: 0.32rem;
  height: 38px;
  outline: none;
  border: none;
  width: 99%;
}
.primer_input {
  border-radius: 4px 0px 0px 4px;
}
.ultimo_input {
  border-radius: 0px 4px 4px 0px;
}

.filtros_de {
  font-size: 0.8rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filtros_de label {
  white-space: nowrap;
}

.de__a_claseCabina_div {
  display: flex;
  flex-flow: column nowrap;
}

.salida_regreso_div {
  display: flex;
  flex-flow: column nowrap;
}

.regreso_input {
  padding: 0.2rem;
  height: 42px;
  width: 100%;
  outline: none;
  border: none;
}

.buscar_btn {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: end;
  cursor: pointer;
  margin-top: 15px;
  padding: 2%;
  border-radius: 4px;
  width: 130px;
  height: 50px;
  border: none;
  color: white;
  background-image: linear-gradient(-180deg, #00a698, #00a698);
}

.filtros_busqueda {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sugerencias {
  position: fixed;
  right: -55px;
  top: 48%;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 0;
  border-radius: 4px;
  color: white;
  background-color: var(--blue);
  width: 140px;
  height: 40px;
  transform: rotate(-90deg);
  cursor: pointer;
}

@media (max-width: 980px) {
  main h2 {
    margin: 2% auto;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
  .buscador_container {
    display: flex;
    flex-direction: column;
    align-items: none;
    margin: auto;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    padding: 1%;
    min-height: none;
    max-width: none;
    width: 450px;
    background-color: var(--blue_hover);
    background-image: linear-gradient(
      to bottom right,
      var(--blue_hover),
      #05488f
    );
    border-radius: 10px;
  }
  .idavuelta_div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .ruta_fecha_div {
    display: flex;
    flex-flow: row wrap;
    justify-content: none;
    gap: 10px;
  }

  .input_label_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    white-space: nowrap;
  }

  .ruta_inputs {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: 99%;
  }
  .primer_input {
    border-radius: 4px 0px 0px 4px;
  }
  .ultimo_input {
    border-radius: 0px 4px 4px 0px;
  }
}

@media (max-width: 550px) {
  .main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 6%;
    background-image: url("../../img/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
  }
  main h2 {
    margin: 2% 9%;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
  .buscador_container {
    display: flex;
    flex-direction: column;
    align-items: none;
    margin: auto;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    padding: 1%;
    min-height: none;
    max-width: none;
    min-width: 400px;
    background-color: var(--blue_hover);
    background-image: linear-gradient(
      to bottom right,
      var(--blue_hover),
      #05488f
    );
    border-radius: 10px;
  }
}
