* {
  font-family: "Skyscanner Relative", -apple-system, BlinkMacSystemFont,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 6%;
  background-image: url("../../img/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
main h2 {
  margin-left: 4%;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 4px black;
}
.buscador_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  padding: 1%;
  min-height: 30vh;
  width: 60rem;
  background-color: var(--blue_hover);
  background-image: linear-gradient(
    to bottom right,
    var(--blue_hover),
    #052b53
  );
  border-radius: 10px;
}

/* IDA VUELTA DIV INICIO  **************************************************/
/* .idavuelta_div {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 4rem;
  align-self: start;
} */
.goRet_box {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.myLabel {
  margin: 20px 0;
  margin-right: 1%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2%;
  white-space: nowrap;
}

/* IDA Y VUELTA SOLO IDA MULTIPLES DESTINOS   FINNNNN  *************** */

.ruta_fecha_div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
}

.input_label_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
  white-space: nowrap;
}
.salida_regreso_cabina_label_container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
  white-space: nowrap;
  max-width: 10rem;
}
/* INPUTS  ********************************************/
.de_input {
  padding: 0.32rem;
  height: 38px;
  outline: none;
  border: none;
  width: 99%;
  border-radius: 4px 0px 0px 4px;
}
.a_input {
  padding: 0.32rem;
  height: 38px;
  outline: none;
  border: none;
  width: 99%;
}
.salida_input {
  padding: 0.2rem;
  height: 42px;
  width: 99%;
  outline: none;
  border: none;
}
.regreso_input {
  padding: 0.2rem;
  height: 42px;
  width: 99%;
  outline: none;
  border: none;
}
.clase_cabina_input {
  padding: 0.32rem;
  height: 38px;
  outline: none;
  border: none;
  width: 99%;
  border-radius: 0px 4px 4px 0px;
}
/* INPUTS FIN  ********************************************/
.filtros_de {
  font-size: 0.8rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.filtros_de label {
  white-space: nowrap;
}

.de__a_claseCabina_div {
  display: flex;
  flex-flow: column nowrap;
}

.salida_regreso_div {
  display: flex;
  flex-flow: column nowrap;
}

.buscar_btn {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: end;
  cursor: pointer;
  margin-top: 15px;
  padding: 2%;
  border-radius: 4px;
  width: 130px;
  height: 50px;
  border: none;
  color: white;
  background-image: linear-gradient(-180deg, #00a698, #00a698);
}

.filtros_busqueda {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sugerencias {
  position: fixed;
  right: -55px;
  top: 48%;
  font-size: 1.5rem;
  padding: 5px 10px;
  margin: 0;
  border-radius: 4px;
  color: white;
  background-color: var(--blue);
  width: 140px;
  height: 40px;
  transform: rotate(-90deg);
  cursor: pointer;
}
@media (min-width: 920px) {
  .idavuelta_div {
    align-self: start;
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.9rem;
    margin-left: 5rem;
  }
}

@media (max-width: 1100px) {
  main h2 {
    margin: 2% auto;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
  .buscador_container {
    display: flex;
    flex-direction: column;
    align-items: none;
    margin: auto;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    padding: 1%;
    min-height: none;
    max-width: none;
    width: 100%;
    background-color: var(--blue_hover);
    background-image: linear-gradient(
      to bottom right,
      var(--blue_hover),
      #05488f
    );
    border-radius: 10px;
  }
  .idavuelta_div {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
  }

  .ruta_fecha_div {
    display: flex;
    flex-flow: row wrap;
    justify-content: none;
    gap: 10px;
  }

  .input_label_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    white-space: nowrap;
  }
  .salida_regreso_cabina_label_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    white-space: nowrap;
    max-width: 10rem;
  }

  /* INPUTS  ********************************************/
  .de_input {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: 99%;
    border-radius: none;
  }
  .a_input {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: 99%;
  }
  .salida_input {
    padding: 0.2rem;
    height: 42px;
    width: 90%;
    outline: none;
    border: none;
  }
  .regreso_input {
    padding: 0.2rem;
    height: 42px;
    width: 90%;
    outline: none;
    border: none;
  }
  .clase_cabina_input {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: 90%;
    border-radius: none;
  }
  /* INPUTS FIN  ********************************************/
}

@media (max-width: 650px) {
  .main {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 6%;
    background-image: url("../../img/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
  }
  main h2 {
    margin: 2% 9%;
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 4px black;
  }
  .idavuelta_div {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.9rem;
  }
  .buscador_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    border-radius: 4px;
    padding: 1%;
    min-height: none;
    max-width: none;
    min-width: none;
    background-color: var(--blue_hover);
    background-image: linear-gradient(
      to bottom right,
      var(--blue_hover),
      #05488f
    );
  }
  .filtros_de {
    font-size: 0.6rem;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .filtros_de label {
    white-space: nowrap;
  }

  /* INPUTS  ********************************************/
  .text {
    font-size: 0.7rem;
  }
  .input_label_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    white-space: nowrap;
    max-width: 10rem;
  }
  .salida_regreso_cabina_label_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    white-space: nowrap;
    max-width: 6.5rem;
  }
  .de_input {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: none;
    border-radius: 0 0px 0px 0px;
    flex-shrink: 10;
  }
  .a_input {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: 99%;
  }
  .salida_input {
    padding: 0.2rem;
    height: 42px;
    width: 92%;
    outline: none;
    border: none;
  }
  .regreso_input {
    padding: 0.2rem;
    height: 42px;
    width: 92%;
    outline: none;
    border: none;
  }
  .clase_cabina_input {
    padding: 0.32rem;
    height: 38px;
    outline: none;
    border: none;
    width: 99%;
    border-radius: 0px;
  }
  /* INPUTS FIN  ********************************************/
  .buscar_btn {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: end;
    cursor: pointer;
    margin-top: 12px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1%;
    border-radius: 4px;
    width: 100px;
    height: 2rem;
    border: none;
    color: white;
    background-image: linear-gradient(-180deg, #00a698, #00a698);
  }
}
